<!--Header-->
<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <!--Logo-->
                    <a class="navbar-brand" href="#">
                        JO E-SHOP
                    </a>
                </div>

                <!--Main Menu-->
                <div class="container">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/addproducts">Add Book</a></li>
                            <li><a href="/requestbook">request book</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header Ends-->