<!DOCTYPE html>
<html>

<head>

    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="static/img\favicon\favicon.png">

    <!--FontAwesome-->
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.css">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="static/css/style.css">

</head>

<!--Title-->
<title>E-Shop</title>

<body>

    <div class="products-form">
        <form role="form" action="/requestbook" method="POST">
            <h3>Request Book</h3>
            <hr>
            <div class="form-group">
                <label>Enter Your Name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter Product Name">
            </div>

            <div class="form-group">
                <label>Enter Your Email</label>
                <input type="text" class="form-control" name="email" placeholder="Enter Product Description">
            </div>
            <div class="form-group">
                <label>Enter Your Book Name</label>
                <input type="text" class="form-control" name="bookname" placeholder="Enter Product Quantity">
            </div>
            <div class="form-group">
                <button type="submit">Request Book</button>
            </div>

        </form>

    </div>

    <!--jQuery Library-->
    <script src="static/js/jquery.js"></script>
    <!--Custom JS-->
    <script src="static/js/script.js "></script>
</body>

</html>